.container
	.row
		.page-header.clearfix
			h1 #{title}
.navbar.navbar-default.navbar-fixed-top.navbar-inverse
	.container-fluid
		.navbar-header
			a.navbar-brand(href="/") 短网址服务测试网站
		.collapse.navbar-collapse
			ul.nav.navbar-nav
				li
					a(href='/api') API
